<form>
  <div class="form-group">
    <label for="xmlInputFile">XML</label>
    <input type="file" class="form-control-file" id="xmlInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Загрузите ваш XML файл</small>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
