<%= form_for @barcode, url: {action: "create"} do |f| %>
  <div class="form-group">
    <%= f.label "Загрузите XML со штрих-кодом" %>
    <%= f.file_field :xmlbarcode, class:  "form-control-file"%>
  </div>
  <%= f.submit "Отправить", class:  "btn btn-primary"%>
<% end %>
